#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title {
  font-size: 2rem;
  line-height: 1.15;
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

.btn-add {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-add:hover {
  background-color: darkgreen;
  color: white;
}

.btn-edit{
  background-color: goldenrod;
  color: white;
  border: none;
  padding: 5px 20px;
  margin-left: 10px;
  border-radius: 5px;
}

.btn-delete {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 20px;
  margin-left: 10px;
  border-radius: 5px;
}
.btn-back {
  background-color: yellow;
  color: black;
  border: none;
  padding: 5px 20px;
  margin-left: 10px;
  border-radius: 5px;
}
.btn-back:hover {
  background-color: darkgoldenrod;
  color: white;
  
}
.btn-edit:hover {
  background-color: darkgoldenrod;
  color: white;
  
}
.btn-delete:hover {
  background-color: darkred;
  color: white;
}

.form-container {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
  text-align: left;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-input label {
  margin-bottom: 6px;
  font-weight: 600;
  color: #333;
}

.form-input input,
.form-input select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s ease;
}

.form-input input:focus,
.form-input select:focus {
  border-color: #3b82f6;
  /* warna biru */
}
